.hour {
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
    height: 50px;
    font-size: 25px;
}

.hour:hover {
    transform: scale(1.3);
    transition: transform .35s ease-in-out;
}

.red {
    background-color: rgb(201, 18, 18);
    color: rgb(250, 250, 253);
}

.green {
    background-color: rgb(64, 224, 171);
}