#schedule-note {
    color: rgb(211, 20, 20);
}

#schedule {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 10vh;
}

@media screen and (max-width: 1310px) {
    #schedule {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 1060px) {
    #schedule {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 790px) {
    #schedule {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 550px) {
    #schedule {
        grid-template-columns: 1fr;
    }

}